manifest {
  description = 'Example RNA-seq pipeline for ENCODE data on AWS Batch implemented with Nextflow' 
}

/* 
 * defines execution profiles for different environments  
 */ 

aws {
	region = 'us-west-2'
	client {
		storageEncryption = 'AES256'
	}
}

cloud {
    imageId = 'ami-7c97d804'
    instanceType = 'm4.xlarge'
    securityGroup = 'sg-8b3100fa'
    keyName = 'alper-uswest2-keypair'
    userName = 'ec2-user'
    autoscale {
        enabled = true
        spotPrice = 0.15
        minInstances = 5
        maxInstances = 10
        imageId = 'ami-7c97d804'
        instanceType = 'm4.4xlarge'
        terminateWhenIdle = true
    }
}

executor {
    name = 'awsbatch'
    awscli = '/home/ec2-user/miniconda/bin/aws'
}

process {
    container = 'nextflow/rnaseq-nf'
    queue = 'nextflow-aws'
    errorStrategy = 'retry' 
    maxRetries = 2 
    $index.cpus = 4 
    $fastqc.cpus = 2
    $quant.cpus = 8
    $index.memory = '30 GB'
    $quant.memory = '16 GB' 
    $fastqc.memory = '8 GB'
    $multiqc.memory = '8 GB'
}

